---
export const prerender = true;

import Layout from '../../../layouts/Layout.astro';
import Navbar from '@/components/landing/Navbar';
import Footer from '../../../components/Footer.astro';
import ThankYouContact from '@/pages/en/ThankYouContact';

type ServiceKey = "event" | "private-office" | "coworking" | "business-registration" | "general";

export function getStaticPaths() {
  return [
    { params: { service: 'event' } },
    { params: { service: 'private-office' } },
    { params: { service: 'coworking' } },
    { params: { service: 'business-registration' } },
    { params: { service: 'general' } },
  ];
}

const { service } = Astro.params as { service: ServiceKey };
const path = `/es/gracias/${service}`;
---
<Layout title="Gracias" path={path} noIndex>
  <div class="overflow-x-hidden">
    <Navbar lang="es" client:load />
    <ThankYouContact lang="es" service={service} client:load />
    <Footer lang="es" />
  </div>
</Layout>
