---
import Layout from '../../../layouts/Layout.astro';
import Navbar from '@/components/landing/Navbar';
import Footer from '../../../components/Footer.astro';
import EventLeadCapture from '@/pages/it/EventLeadCapture';

const path = '/it/organizza-evento/lead';
const title = 'Raccontaci del tuo Evento';
const description = 'Condividi i dettagli del tuo prossimo evento a Innovation Campus Málaga.';
---
<Layout {title} {description} {path} noIndex>
  <div class="overflow-x-hidden">
    <Navbar lang="it" client:load />
    <EventLeadCapture lang="it" client:load />
    <Footer lang="it" />
  </div>
</Layout>
